@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container{
    overflow: hidden;
    border-radius: 0.625rem;
    display: flex;
    max-width: 57.5rem;
    min-height: 31.25rem;
    flex-direction: row;
    flex:1;
}

.column
{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

h1{
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

p{
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

button{
    
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 0.9375rem;
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    padding: 0.5rem 0.5rem;
    width: 70%;
    border-radius: 2rem;
    border: 2px solid hsl(0, 0%, 95%);
}

.sedans button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    cursor: pointer;
}

.suvs button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    cursor: pointer;
}

.luxury button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    cursor: pointer;
}


@media only screen and (max-width: 930px){
    .container{
        margin: 0rem 2rem;
    }
}


@media only screen and (max-width:580px)
{
    .container{
        display: grid;
        min-width: 12.5rem;
        min-height: 25rem;
        margin: 3rem 2rem;
    }

    .column{
        display: grid;
        padding: 2rem;
        min-height: 25rem;
    }
    
    p{
        padding: 2rem 0rem;
        width: 100%;
    }
    
    button{
        width: 60%;
    }
}